In [2]:
import pandas as pd

In [27]:
excel_file = pd.ExcelFile('powerBIproject.xlsx')

In [28]:
print(excel_file.sheet_names)

['Data Professional Survey']

In [30]:
df = excel_file.parse('Data Professional Survey') 
print(df)

                    Unique ID      Email Date Taken (America/New_York)  \
0    62a33b3db4da29969c62df3d  anonymous                     6/10/2022
1    62a33ba1bae91e4b8b82e35c  anonymous                     6/10/2022
2    62a33c2cbc6861bf3176bec1  anonymous                     6/10/2022
3    62a33c8624a26260273822f9  anonymous                     6/10/2022
4    62a33c91f3072dd892621e03  anonymous                     6/10/2022
..                        ...        ...                           ...
625  62b525563f28f20328aeee5c  anonymous                     6/23/2022
626  62b5a3e29bc428d5345f6e89  anonymous                     6/24/2022
627  62b71083f31287f32e189026  anonymous                     6/25/2022
628  62b795033b026e423f287ecd  anonymous                     6/25/2022
629  62b89039377223ff07b80fb5  anonymous                     6/26/2022

    Time Taken (America/New_York)  Browser  OS  City  Country  Referrer  \
0                            8:38      NaN NaN   NaN      NaN       NaN
1                            8:40      NaN NaN   NaN      NaN       NaN
2                            8:42      NaN NaN   NaN      NaN       NaN
3                            8:43      NaN NaN   NaN      NaN       NaN
4                            8:44      NaN NaN   NaN      NaN       NaN
..                            ...      ...  ..   ...      ...       ...
625                         22:45      NaN NaN   NaN      NaN       NaN
626                          7:45      NaN NaN   NaN      NaN       NaN
627                          9:41      NaN NaN   NaN      NaN       NaN
628                         19:06      NaN NaN   NaN      NaN       NaN
629                         12:58      NaN NaN   NaN      NaN       NaN

    Time Spent  ...  \
0      0:00:44  ...
1      0:01:30  ...
2      0:02:18  ...
3      0:02:10  ...
4      0:01:51  ...
..         ...  ...
625    0:00:50  ...
626    0:03:12  ...
627    0:04:43  ...
628    0:02:17  ...
629    0:01:19  ...

    Q6 - How Happy are you in your Current Position with the following? (Management)  \
0                                                  5.0
1                                                  2.0
2                                                  5.0
3                                                 10.0
4                                                  4.0
..                                                 ...
625                                                6.0
626                                                7.0
627                                                2.0
628                                                6.0
629                                                7.0

    Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)  \
0                                                  5.0
1                                                  1.0
2                                                  7.0
3                                                  7.0
4                                                  0.0
..                                                 ...
625                                                5.0
626                                                4.0
627                                                1.0
628                                                4.0
629                                                6.0

    Q6 - How Happy are you in your Current Position with the following? (Learning New Things)  \
0                                                  7.0
1                                                  3.0
2                                                  7.0
3                                                 10.0
4                                                  1.0
..                                                 ...
625                                                7.0
626                                                6.0
627                                                2.0
628                                                3.0
629                                                8.0

    Q7 - How difficult was it for you to break into Data?  \
0                                       Very Difficult
1                                       Very Difficult
2                                                 Easy
3                                            Very Easy
4                                            Difficult
..                                                 ...
625                                               Easy
626                                          Difficult
627                                          Difficult
628                                               Easy
629                                               Easy

    Q8 - If you were to look for a new job today, what would be the most important thing to you?  \
0                                          Remote Work
1                                          Remote Work
2                               Good Work/Life Balance
3                                          Remote Work
4                                        Better Salary
..                                                 ...
625                                      Better Salary
626                                      Better Salary
627                                      Better Salary
628         Other (Please Specify):Career Advancedment
629                                        Remote Work

     Q9 - Male/Female?  Q10 - Current Age  \
0                 Male                 26
1                 Male                 36
2                 Male                 23
3               Female                 35
4                 Male                 44
..                 ...                ...
625               Male                 26
626               Male                 21
627               Male                 26
628               Male                 24
629               Male                 22

     Q11 - Which Country do you live in?  Q12 - Highest Level of Education  \
0                          United States                               NaN
1                                 Canada                               NaN
2         Other (Please Specify):Nigeria                               NaN
3                                 Canada                               NaN
4                          United States                               NaN
..                                   ...                               ...
625                        United States                         Bachelors
626                        United States                         Bachelors
627          Other (Please Specify):Oman                         Bachelors
628    Other (Please Specify):Costa Rica                         Bachelors
629                        United States                         Bachelors

               Q13 - Ethnicity
0           White or Caucasian
1      Asian or Asian American
2    Black or African American
3           White or Caucasian
4    Black or African American
..                         ...
625         White or Caucasian
626         White or Caucasian
627    Asian or Asian American
628         Hispanic or Latino
629    Asian or Asian American

[630 rows x 28 columns]

In [31]:
#remove 'Other (Please Specify):' so we can only see what comes after :
import pandas as pd

df_copy = df.copy()

# Assuming 'YourColumn' is the column containing the strings
df_copy['Q1 - Which Title Best Fits your Current Role?'] = df_copy['Q1 - Which Title Best Fits your Current Role?'].str.replace(r'.*:', '', regex=True)   
df_copy['Q4 - What Industry do you work in?'] = df_copy['Q4 - What Industry do you work in?'].str.replace(r'.*:', '', regex=True)
df_copy['Q8 - If you were to look for a new job today, what would be the most important thing to you?'] = df_copy['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].str.replace(r'.*:', '', regex=True)
df_copy['Q11 - Which Country do you live in?'] = df_copy['Q11 - Which Country do you live in?'].str.replace(r'.*:', '', regex=True)
df_copy['Q13 - Ethnicity'] = df_copy['Q13 - Ethnicity'].str.replace(r'.*:', '', regex=True)

# Display the DataFrame
print(df_copy.head(10))

                  Unique ID      Email Date Taken (America/New_York)  \
0  62a33b3db4da29969c62df3d  anonymous                     6/10/2022
1  62a33ba1bae91e4b8b82e35c  anonymous                     6/10/2022
2  62a33c2cbc6861bf3176bec1  anonymous                     6/10/2022
3  62a33c8624a26260273822f9  anonymous                     6/10/2022
4  62a33c91f3072dd892621e03  anonymous                     6/10/2022
5  62a33cb6cf25554317300177  anonymous                     6/10/2022
6  62a33cb72e54c9003e531c65  anonymous                     6/10/2022
7  62a33cd30f8c8599d5af0f8f  anonymous                     6/10/2022
8  62a33cd3cf255543173001d9  anonymous                     6/10/2022
9  62a33cd8bc6861bf3176c05f  anonymous                     6/10/2022

  Time Taken (America/New_York)  Browser  OS  City  Country  Referrer  \
0                          8:38      NaN NaN   NaN      NaN       NaN
1                          8:40      NaN NaN   NaN      NaN       NaN
2                          8:42      NaN NaN   NaN      NaN       NaN
3                          8:43      NaN NaN   NaN      NaN       NaN
4                          8:44      NaN NaN   NaN      NaN       NaN
5                          8:44      NaN NaN   NaN      NaN       NaN
6                          8:44      NaN NaN   NaN      NaN       NaN
7                          8:45      NaN NaN   NaN      NaN       NaN
8                          8:45      NaN NaN   NaN      NaN       NaN
9                          8:45      NaN NaN   NaN      NaN       NaN

  Time Spent  ...  \
0    0:00:44  ...
1    0:01:30  ...
2    0:02:18  ...
3    0:02:10  ...
4    0:01:51  ...
5    0:02:34  ...
6    0:01:15  ...
7    0:01:25  ...
8    0:02:10  ...
9    0:01:27  ...

  Q6 - How Happy are you in your Current Position with the following? (Management)  \
0                                                5.0
1                                                2.0
2                                                5.0
3                                               10.0
4                                                4.0
5                                                3.0
6                                                6.0
7                                                5.0
8                                                4.0
9                                                3.0

  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)  \
0                                                5.0
1                                                1.0
2                                                7.0
3                                                7.0
4                                                0.0
5                                                3.0
6                                                6.0
7                                                5.0
8                                                5.0
9                                                0.0

  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)  \
0                                                7.0
1                                                3.0
2                                                7.0
3                                               10.0
4                                                1.0
5                                                2.0
6                                                5.0
7                                                9.0
8                                                5.0
9                                                4.0

  Q7 - How difficult was it for you to break into Data?  \
0                                     Very Difficult
1                                     Very Difficult
2                                               Easy
3                                          Very Easy
4                                          Difficult
5                                          Difficult
6                                          Difficult
7                         Neither easy nor difficult
8                         Neither easy nor difficult
9                                     Very Difficult

  Q8 - If you were to look for a new job today, what would be the most important thing to you?  \
0                                        Remote Work
1                                        Remote Work
2                             Good Work/Life Balance
3                                        Remote Work
4                                      Better Salary
5                             Good Work/Life Balance
6                                      Better Salary
7                                        Remote Work
8                                      Better Salary
9                                      Better Salary

   Q9 - Male/Female?  Q10 - Current Age  Q11 - Which Country do you live in?  \
0               Male                 26                        United States
1               Male                 36                               Canada
2               Male                 23                              Nigeria
3             Female                 35                               Canada
4               Male                 44                        United States
5               Male                 33        Republic democratic of Congo
6               Male                 24               Other (Please Specify)
7               Male                 35                        United States
8               Male                 35                        United States
9               Male                 28                        United States

   Q12 - Highest Level of Education            Q13 - Ethnicity
0                               NaN         White or Caucasian
1                               NaN    Asian or Asian American
2                               NaN  Black or African American
3                               NaN         White or Caucasian
4                               NaN  Black or African American
5                               NaN  Black or African American
6                               NaN  Black or African American
7                               NaN    Asian or Asian American
8                               NaN    Asian or Asian American
9                               NaN         Hispanic or Latino

[10 rows x 28 columns]

In [32]:
#remove Other (Please Specify)
# Assuming df is your DataFrame
contains_other = df_copy.applymap(lambda x: 'Other (Please Specify)' in str(x))

# Filter rows where the specified string is present in any column
rows_with_other = df_copy[contains_other.any(axis=1)]

# Display the rows where the specified string is present
print(rows_with_other)

                    Unique ID      Email Date Taken (America/New_York)  \
6    62a33cb72e54c9003e531c65  anonymous                     6/10/2022
32   62a33ee0bae91e4b8b82eaec  anonymous                     6/10/2022
113  62a34b07cec54911e9ca6b6e  anonymous                     6/10/2022
203  62a36ac6cf255543173063d8  anonymous                     6/10/2022
204  62a36ad1f408bae018ed9793  anonymous                     6/10/2022
268  62a3951ed8c00e9f541a75d1  anonymous                     6/10/2022
306  62a3c021f8f756164586043f  anonymous                     6/10/2022
322  62a3dac9f3072dd892631e12  anonymous                     6/10/2022
533  62a78f3bf408bae018f2ef51  anonymous                     6/13/2022
552  62a8643bcec54911e9d14297  anonymous                     6/14/2022

    Time Taken (America/New_York)  Browser  OS  City  Country  Referrer  \
6                            8:44      NaN NaN   NaN      NaN       NaN
32                           8:53      NaN NaN   NaN      NaN       NaN
113                          9:45      NaN NaN   NaN      NaN       NaN
203                         12:01      NaN NaN   NaN      NaN       NaN
204                         12:01      NaN NaN   NaN      NaN       NaN
268                         15:01      NaN NaN   NaN      NaN       NaN
306                         18:05      NaN NaN   NaN      NaN       NaN
322                         19:59      NaN NaN   NaN      NaN       NaN
533                         15:25      NaN NaN   NaN      NaN       NaN
552                          6:34      NaN NaN   NaN      NaN       NaN

    Time Spent  ...  \
6      0:01:15  ...
32     0:03:30  ...
113    0:01:19  ...
203    0:02:59  ...
204    0:04:44  ...
268    0:01:41  ...
306    0:02:00  ...
322    0:03:19  ...
533    0:01:33  ...
552    0:04:29  ...

    Q6 - How Happy are you in your Current Position with the following? (Management)  \
6                                                  6.0
32                                                 7.0
113                                                0.0
203                                                8.0
204                                                3.0
268                                                5.0
306                                                3.0
322                                                7.0
533                                                7.0
552                                                4.0

    Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)  \
6                                                  6.0
32                                                 7.0
113                                                0.0
203                                                4.0
204                                                3.0
268                                                5.0
306                                                4.0
322                                                7.0
533                                                8.0
552                                                5.0

    Q6 - How Happy are you in your Current Position with the following? (Learning New Things)  \
6                                                  5.0
32                                                 7.0
113                                                5.0
203                                                4.0
204                                                NaN
268                                                4.0
306                                                4.0
322                                                8.0
533                                                8.0
552                                                6.0

    Q7 - How difficult was it for you to break into Data?  \
6                                            Difficult
32                                           Difficult
113                         Neither easy nor difficult
203                         Neither easy nor difficult
204                                          Difficult
268                         Neither easy nor difficult
306                         Neither easy nor difficult
322                         Neither easy nor difficult
533                         Neither easy nor difficult
552                                          Difficult

    Q8 - If you were to look for a new job today, what would be the most important thing to you?  \
6                                        Better Salary
32                              Good Work/Life Balance
113                                      Better Salary
203                                      Better Salary
204                                        Remote Work
268                                      Better Salary
306                                      Better Salary
322                             Good Work/Life Balance
533                                      Better Salary
552                                      Better Salary

     Q9 - Male/Female?  Q10 - Current Age  \
6                 Male                 24
32                Male                 25
113               Male                 25
203             Female                 29
204               Male                 29
268               Male                 43
306             Female                 20
322               Male                 38
533               Male                 25
552               Male                 39

     Q11 - Which Country do you live in?  Q12 - Highest Level of Education  \
6                 Other (Please Specify)                               NaN
32                                 India                               NaN
113                               turkey                         Bachelors
203                               Canada                         Bachelors
204                                India                           Masters
268                        United States                           Masters
306                             Nigeria                        High School
322                        United States                           Masters
533               Other (Please Specify)                         Bachelors
552               Other (Please Specify)                       High School

               Q13 - Ethnicity
6    Black or African American
32     Asian or Asian American
113         White or Caucasian
203     Other (Please Specify)
204    Asian or Asian American
268    Asian or Asian American
306  Black or African American
322         White or Caucasian
533         White or Caucasian
552  Black or African American

[10 rows x 28 columns]

In [33]:
#replace Other (Please Specify) with Other
# Assuming df is your DataFrame
columns_to_replace = ['Q11 - Which Country do you live in?', 'Q13 - Ethnicity']

# Replace 'Other (Please Specify)' with 'Other' in specified columns
df_copy[columns_to_replace] = df_copy[columns_to_replace].replace('Other (Please Specify)', 'Other', regex=True)

In [34]:
# Assuming df is your DataFrame
contains_other = df_copy.applymap(lambda x: 'Other(Please Specify)' in str(x))

# Filter rows where the specified string is present in any column
rows_with_other = df_copy[contains_other.any(axis=1)]

# Display the rows where the specified string is present
print(rows_with_other)

Empty DataFrame
Columns: [Unique ID, Email, Date Taken (America/New_York), Time Taken (America/New_York), Browser, OS, City, Country, Referrer, Time Spent, Q1 - Which Title Best Fits your Current Role?, Q2 - Did you switch careers into Data?, Q3 - Current Yearly Salary (in USD), Q4 - What Industry do you work in?, Q5 - Favorite Programming Language, Q6 - How Happy are you in your Current Position with the following? (Salary), Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance), Q6 - How Happy are you in your Current Position with the following? (Coworkers), Q6 - How Happy are you in your Current Position with the following? (Management), Q6 - How Happy are you in your Current Position with the following? (Upward Mobility), Q6 - How Happy are you in your Current Position with the following? (Learning New Things), Q7 - How difficult was it for you to break into Data?, Q8 - If you were to look for a new job today, what would be the most important thing to you?, Q9 - Male/Female?, Q10 - Current Age, Q11 - Which Country do you live in?, Q12 - Highest Level of Education, Q13 - Ethnicity]
Index: []

[0 rows x 28 columns]

In [35]:
# Assuming df is your DataFrame
print(df_copy['Q3 - Current Yearly Salary (in USD)'].head())

0    106k-125k
1      41k-65k
2        0-40k
3    150k-225k
4      41k-65k
Name: Q3 - Current Yearly Salary (in USD), dtype: object

In [40]:
#calculate averages from salary ranges given per row
# Assuming df is your DataFrame
df_copy['Q3 - Current Yearly Salary (in USD)'] = df_copy['Q3 - Current Yearly Salary (in USD)'].apply(lambda x: x.replace('k', '').replace('+', ''))

# Split the salary range and convert to integers
df_copy['Q3 - Current Yearly Salary (in USD)'] = df_copy['Q3 - Current Yearly Salary (in USD)'].apply(lambda x: [int(s) for s in x.split('-')])

# Calculate the average salary
df_copy['Q3 - Current Yearly Salary (in USD)'] = df_copy['Q3 - Current Yearly Salary (in USD)'].apply(lambda x: sum(x) / len(x) if len(x) > 0 else 0)

# Add 'k' back
df_copy['Q3 - Current Yearly Salary (in USD)'] = df_copy['Q3 - Current Yearly Salary (in USD)'].astype(int).astype(str) + 'k'

# Show the modified column
print(df_copy['Q3 - Current Yearly Salary (in USD)'].head(10))

0    115k
1     53k
2     20k
3    187k
4     53k
5     20k
6     20k
7    137k
8     95k
9     53k
Name: Q3 - Current Yearly Salary (in USD), dtype: object

In [42]:
print(df_copy['Q3 - Current Yearly Salary (in USD)'].head())

0    115k
1     53k
2     20k
3    187k
4     53k
Name: Q3 - Current Yearly Salary (in USD), dtype: object

In [43]:
def extract_salary(value):
    if 'k' in value:
        return int(value.replace('k', ''))
    else:
        return int(value)

# Apply the function to create the 'Average Salary' column
df_copy['Average Salary'] = df_copy['Q3 - Current Yearly Salary (in USD)'].apply(extract_salary)

# Display the updated DataFrame
print(df_copy['Average Salary'].head())

0    115
1     53
2     20
3    187
4     53
Name: Average Salary, dtype: int64

In [49]:
rows_with_blanks = df_copy[df_copy.isnull().any(axis=1)]
df_copy.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Average Salary
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,N/A,White or Caucasian,115
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,N/A,Asian or Asian American,53
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,N/A,Black or African American,20
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,N/A,White or Caucasian,187
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,0.0,1.0,Difficult,Better Salary,Male,44,United States,N/A,Black or African American,53

In [48]:
df_copy['Q12 - Highest Level of Education'].fillna('N/A', inplace=True)
print(df_copy['Q12 - Highest Level of Education'].head())

0    N/A
1    N/A
2    N/A
3    N/A
4    N/A
Name: Q12 - Highest Level of Education, dtype: object

In [50]:
df_copy.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Average Salary
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,N/A,White or Caucasian,115
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,N/A,Asian or Asian American,53
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,N/A,Black or African American,20
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,N/A,White or Caucasian,187
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,0.0,1.0,Difficult,Better Salary,Male,44,United States,N/A,Black or African American,53

In [51]:
df_copy.to_excel('SurveyProData.xlsx', index=False)